{% extends 'profile_base.html' %}
{% load static %}

{% block employee_info %}
    
{% endblock employee_info %}

{% block company %}
    <div class="companies">
        <div class="add"></div>
        <div class="all"></div>
    </div>
{% endblock company %}
{% block post %}
    <div class="posts">
        <div class="add"></div>
        <div class="all"></div>
    </div>
{% endblock post %}
{% block product %}
    <div class="products">
        <div class="add"></div>
        <div class="all"></div>
    </div>
{% endblock product %}